# AWS Credentials & Secrets
*.csv
*.key
*.pem
*.p12
*.pfx
*secret*.json
*credentials*.json
*password*.json
*accessKeys*
*.kms

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.env
.env.local

# Environment vars
.aws/
~/.aws/
